* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-y: hidden;
}
@font-face {
  font-family: RobotoMonoLight;
  src: url("./fonts/RobotoMono-Light.ttf");
}
@font-face {
  font-family: RobotoMonoRegular;
  src: url("./fonts/RobotoMono-Regular.ttf");
}

body {
  font-family: RobotoMonoRegular;
  height: 100vh;
}

h1 {
  font-size: 4em;
  width: 100%;
  padding-left: 5%;
  color: #fff;
  background-color: #0a0a23;
}
h2 {
  font-size: 3em;
  margin-bottom: 20px;
  text-decoration: underline;
}

#myBtn {
  position: fixed;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
}
#myBtn:hover {
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: 5% 1fr 2% 1fr 5%;
  height: 78%;
}
#form {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 5%;
}
.items {
  cursor: default;
  display: grid;
  align-items: center;
  height: 100%;
  align-self: center;
  font-size: 2em;
}

#list h2,
.items {
  padding-left: 4%;
}

#list {
  grid-column: 4/5;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 5%;
  list-style: none;
}

.items:hover {
  color: #fff;
  background: #0a0a23;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-bottom: #0a0a23 solid;
  border-radius: 4px;
  resize: vertical;
  float: right;
}

label {
  background-color: transparent;
  font-size: 2em;
}

input[type="submit"] {
  background-color: #0a0a23;
  color: #ccc;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 6px;
  display: none;
}

input[type="submit"]:hover {
  background-color: #0a0a25;
}

.row {
  margin-top: 20px;
  align-self: center;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #0a0a23;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  line-height: 0px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  * {
    text-align: center;
  }
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 6px;
  }
  .container {
    grid-template-columns: 5% 1fr 5%;
    align-items: center;
  }
}
@media (max-width: 660px) {
  * {
    font-size: 15px;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 3em;
  }
  .label {
    font-size: 1em;
  }
  .row {
    margin-bottom: 10px;
  }
}
@media (max-height: 600px) {
  * {
    font-size: 10px;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 3em;
  }
  .label {
    font-size: 1em;
  }
  .row {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 5% 1fr 5%;
    align-items: center;
  }
  #list {
    display: none;
  }
}
